:root {
  --platinum: #E0E1DD;
  --silver-lake-blue: #778da9;
  --mid-blue: #415A77;
  --oxford-blue: #1B263B;
  --rich-black: #0D1B2A;
}
.txt-platinum {
  color: var(--platinum);
}

.txt-mid-blue {
  color: var(--mid-blue);
}

.txt-rick-black {
  color: var(--rich-black);
}
.txt-oxford-blue {
  color: var(--oxford-blue);
}
.txt-silver-lake {
  color: var(--silver-lake-blue)
}

#app {
  background-color: var(--platinum);
}

#header {
  background-color: var(--oxford-blue);
 color: var(--platinum);
}

.bg-silver-lake {
  background-color: var(--silver-lake-blue);
}

.bg-oxford-blue {
  background-color: var(--oxford-blue);
}

.bg-platinum {
  background-color: var(--platinum);
}

.bg-mid-blue {
  background-color: var(--mid-blue);
}
.border-none {
  border: none;
}